KuzeyYeli.WinArayuz/Service References/UrunServiceReference/UrunService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5556/UrunService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KuzeyYeli.DTO" />
  <xs:element name="Listele">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListeleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KuzeyYeli.DTO" minOccurs="0" name="ListeleResult" nillable="true" type="q1:ArrayOfUrunlerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KuzeyYeli.DTO" minOccurs="0" name="entity" nillable="true" type="q2:UrunlerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EkleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EkleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Guncelle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KuzeyYeli.DTO" minOccurs="0" name="entity" nillable="true" type="q3:UrunlerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuncelleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuncelleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KuzeyYeli.DTO" minOccurs="0" name="entity" nillable="true" type="q4:UrunlerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SilResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>