KuzeyYeli.WinArayuz/Service References/UrunServiceReference/UrunService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UrunService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5556/UrunService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5556/UrunService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5556/UrunService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KuzeyYeli.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUrunService_Listele_InputMessage">
    <wsdl:part name="parameters" element="tns:Listele" />
  </wsdl:message>
  <wsdl:message name="IUrunService_Listele_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListeleResponse" />
  </wsdl:message>
  <wsdl:message name="IUrunService_Ekle_InputMessage">
    <wsdl:part name="parameters" element="tns:Ekle" />
  </wsdl:message>
  <wsdl:message name="IUrunService_Ekle_OutputMessage">
    <wsdl:part name="parameters" element="tns:EkleResponse" />
  </wsdl:message>
  <wsdl:message name="IUrunService_Guncelle_InputMessage">
    <wsdl:part name="parameters" element="tns:Guncelle" />
  </wsdl:message>
  <wsdl:message name="IUrunService_Guncelle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuncelleResponse" />
  </wsdl:message>
  <wsdl:message name="IUrunService_Sil_InputMessage">
    <wsdl:part name="parameters" element="tns:Sil" />
  </wsdl:message>
  <wsdl:message name="IUrunService_Sil_OutputMessage">
    <wsdl:part name="parameters" element="tns:SilResponse" />
  </wsdl:message>
  <wsdl:portType name="IUrunService">
    <wsdl:operation name="Listele">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBaseOf_UrunlerDTO/Listele" message="tns:IUrunService_Listele_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBaseOf_UrunlerDTO/ListeleResponse" message="tns:IUrunService_Listele_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ekle">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBaseOf_UrunlerDTO/Ekle" message="tns:IUrunService_Ekle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBaseOf_UrunlerDTO/EkleResponse" message="tns:IUrunService_Ekle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Guncelle">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBaseOf_UrunlerDTO/Guncelle" message="tns:IUrunService_Guncelle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBaseOf_UrunlerDTO/GuncelleResponse" message="tns:IUrunService_Guncelle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sil">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBaseOf_UrunlerDTO/Sil" message="tns:IUrunService_Sil_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBaseOf_UrunlerDTO/SilResponse" message="tns:IUrunService_Sil_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUrunService" type="tns:IUrunService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listele">
      <soap:operation soapAction="http://tempuri.org/IServiceBaseOf_UrunlerDTO/Listele" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ekle">
      <soap:operation soapAction="http://tempuri.org/IServiceBaseOf_UrunlerDTO/Ekle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Guncelle">
      <soap:operation soapAction="http://tempuri.org/IServiceBaseOf_UrunlerDTO/Guncelle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sil">
      <soap:operation soapAction="http://tempuri.org/IServiceBaseOf_UrunlerDTO/Sil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UrunService">
    <wsdl:port name="BasicHttpBinding_IUrunService" binding="tns:BasicHttpBinding_IUrunService">
      <soap:address location="http://localhost:5556/UrunService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>